/*bacground images in css*/
/*products
photogrophs*/

/*CSS is a funnel
big to small*/
/*larger tags 
specific 
.classes and #ids*/


@import url();
* { margin:0; padding:0; box-sizing:border-box; }

h1,h2,p{
    text-align: center;
    font-family:Arial,sans-serif;
}
h1 {
	padding:5em;
}

a{
	text-decoration:none;
}

span{
	font-size:2em;
}


form{
	text-align: justify;
	text-align: center;
}

input[type="submit"]{
	background-color:#4169E1;
	border:none;
	color:#fff;
	padding:1em 2em;
}
input[type="text"]{
	padding:1em 2em;
	color:#aaa;
}
input[type="text"]:focus{
	outline:none;
	box-shadow:1px 1px 3px rgba(0,0,0,.25);
}
.logo {
	color:#4169E1;
	font-size:2em;
	font-family:sans-serif;
	text-align:left;
}
#splash {
	background:url(cssPics/familybeach.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	height:90vh;
}

header{
}

nav{
}

aside{
	
}

section{
}

footer{
}




/*square brackets are role selectors*/ 



