@import url();

html{
	background:snow;
}

h1,h2,p{
    text-align: center;
    font-family:Arial,sans-serif;
}


a{
	text-decoration:none;
}

form{
	text-align: justify;
	text-align: center;
}

input[type="submit"]{
	background-color:#4169E1;
	border:none;
	color:#fff;
	padding:1em 2em;
}
input[type="text"]{
	padding:1em 2em;
	color:#aaa;
}
input[type="text"]:focus{
	outline:none;
	box-shadow:1px 1px 3px rgba(0,0,0,.25);
}
.logo {
	color:#4169E1;
	font-size:2em;
	font-family:sans-serif;
	text-align:left;
	text-decoration:underline;
}
/*square brackets are role selectors*/ 